section {
    margin-bottom: 50px;

    a, a:link, a:active, a:visited {
        color: #44B4A8;
    }

    .content {
        h2 {
            font-family: $condensed-font;
            @include font-rem(26);
            font-weight: 400;
            margin-bottom: 35px;
        }
    }

    .blurb {
        font-family: $condensed-font;
        @include font-rem(32);
        font-weight: 300;
        line-height: 52px;
        letter-spacing: 0;
        padding-bottom: 45px;
        margin-bottom: 35px;
        border-bottom: 1px solid #E3E3E3;
    }

    .single-col, .two-col {
        overflow: auto;
    }

    .single-col {
        margin: 0 auto 45px;
        max-width: 840px;
    }

    .two-col {

        .content, .sidebar {
            float: left;
            box-sizing: border-box;
        }

        .content {
            width: 70%;
            padding-right: 40px;
        }

        .sidebar {
            width: 30%;
        }
    }

    &.faq {
        letter-spacing: 0;

        ul {
            list-style-type: none;
            margin-bottom: 40px;

            li {
                margin-bottom: 10px;
            }
        }

        h3 {
            font-family: $condensed-font;
            @include font-rem(22);
            font-weight: 400;
            text-transform: uppercase;
            line-height: 34px;
        }

        p {
            @include font-rem(16);
            font-weight: 300;
            line-height: 26px;
        }
    }    
    
    &.contact {
        form {
            width: 80%;
            margin: 0 auto;
            overflow: auto;
        }

        .name, .email, .phone {
            margin-bottom: 20px;
        }

        .message {
            margin-top: 20px;
        }

        .phone {
            padding: 0 5px 0 0;
        }

        .email {
            padding: 0 0 0 5px;
        }

        .button {
            text-align: right;
            margin-top: 50px;
        }

        .btn {
            background-color: #fff;
            border: 3px solid $turqoise;
        }
    }

    &.trip {
        .partners {
            img {
                max-width: 200px;
            }
        }

        .partners, .gallery {
            margin: 25px 0 15px;
            border-top: 1px solid #efefef;
            padding-top: 20px;
        }
    }
}

.widget {
    margin-bottom: 42px;
    
    &.with-icon {
        padding-left: 30px;

        h3 {
            background-repeat: no-repeat;
            background-position: 0 5px;
            padding-left: 30px;
            margin-left: -30px;
        
            &.date-and-time {
                background-image: url('../images/cal_icon.svg');
            }
            
            &.locale {
                background-image: url('../images/locale_marker.svg');
            }
        }
    }
}

@media only screen and (max-width: $min-tablet) {
    section {
        .content {
            padding: 0 20px;
        }
        
        .two-col {
            .content, .sidebar {
                width: 100%;
                float: none;
            }

            .content {
                margin-bottom: 50px;
            }
        }
    }
}