.date {
    color: #fff;
    text-align: center;
    font-weight: 400;

    .month {
        @include font-rem(16);
        letter-spacing: 3.44px;
        line-height: 19px;
        border-bottom: 1px solid #fff;
        padding-bottom: 3px;
    }

    .day {
        font-family: $condensed-font;
        @include font-rem(48);
        letter-spacing: 0;
        line-height: 57px;
        padding-bottom: 7px;
    }
}

.btn {
    @include font-rem(12);
    letter-spacing: 2.4px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #292929;
    padding: 17px 34px;
    display: inline-block;
    background: #FFC80A;
    @include border-radius(100px);
}