{{define "gallery"}}
{{template "admin-header" .}}
    {{with .Form}}
    <form action="/admin/gallery{{if .ID}}?id={{.ID}}{{end}}" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{$.Token}}">
        {{if .ID}}
        <input type="hidden" name="id" value="{{.ID}}">
        {{end}}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control{{with .Errors.Name}} is-invalid{{end}}" name="name" value="{{.Name}}">
            {{with .Errors.Name}}
            <div class="invalid-feedback">{{.}}</div>
            {{end}}
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-6">
                {{if .ID}}
                <div class="float-right">
                    <a href="/admin/gallery/{{.ID}}?remove"><i class="fas fa-trash-alt"></i></a>
                </div>
                {{end}}
            </div>
        </div>
    </form>
    {{end}}
{{template "admin-footer" .}}
{{end}}