{{define "admin-trips"}}
{{template "admin-header" .}}
    {{if .Trips}}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .Trips}}
            <tr>
                <td>{{.ID}}</td>
                <td><a href="/admin/trip?id={{.ID}}">{{.Title.String}}</a></td>
                <td>{{humanDate .Start}}</td>
                <td>{{humanDate .End}}</td>
                <td>{{.Status.String}}</td>
                <td class="text-right"><a href="/admin/trip/{{.ID}}?remove">x</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-primary" role="alert">No trips to be found. Whatever shall we do?</div>
    {{end}}
{{template "admin-footer" .}}
{{end}}