{{define "faq"}}
{{template "header" .}}
<main class="page with-sidebar container">
    <div class="content faq">
        {{range $cat, $questions := .FAQGrouped }}
        <h2>{{$cat}}</h2>
        <ul>
            {{range $questions}}
            <li>
                <h3>{{.Question}}</h3>
                <p>{{.Answer}}</p>
            </li>
            {{end}}
        </ul>
        {{end}}
    </div>
    <div class="sidebar">
        <div class="trip-listing widget">
            <h4>Upcoming Trips</h4>
            <div class="trips">
                {{range $.Trips}}
                {{template "trip-pod" .}}
                {{end}}
            </div>
        </div>
    </div>
</main>
<div class="mailing-list one">
        <div class="container">
            <img src="/assets/images/chars/golf_gal.svg" class="one golf_gal" />
            <form action="https://revelbus.us9.list-manage.com/subscribe/post?u=ce6905f609353633857e2d198&amp;id=9ab582054e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="txt-grp">
                <h3>Join the Party</h3>
                <p>Get notified about upcoming trips in your area.</p>
            </div>
            <div class="field">
                <div class="input">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ce6905f609353633857e2d198_9ab582054e" tabindex="-1" value=""></div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </div>
            </form>
        </div>
    </div>
{{template "footer" .}}
{{end}}