{{define "footer"}}
    <footer>
        <img src="/assets/images/RevelBus_Bus.svg" />
        <p>Revel Bus LLC  |  <a href="tel:1-404-480-3036">(404) 480-3036</a>  |  <a href="mailto:contact@revelbus.com">contact@revelbus.com</a></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/lib/owl/owl.carousel.min.js"></script>
    <script src="/assets/lib/magnific/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/home.js"></script>
    <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </body>
</html>
{{end}}